@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html,
body {
    min-height: 100%;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.swiper {
    width: 600px;
    height: 300px;
}

.vanilla-calendar {
    border: 1px solid #efefef;
    box-shadow: 0 0 10px -10px #000;
    margin: 30px auto 10px;
}

.vanilla-calendar-header__content {
    justify-content: flex-start;
    padding-left: 5px;
}

.vanilla-calendar-info {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 5px;
    margin: 20px auto;
    width: 280px;
    border: 1px solid #efefef;
    box-shadow: 0 0 10px -10px #000;
    background-color: white;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    color: black;
}

.bg-red {
    background-color: orangered;
    color: white;
}

.bg-red:hover {
    background-color: orangered;
    color: white;
}

.bg-orange {
    background-color: orange;
}

.bg-orange:hover {
    background-color: orange;
}
